.navigation {
  background-color: #0c5c95; 
  padding: 4px 15px;
  position: relative;
}




.navigation .menu-toggle {
  display: none; 
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 11px;
  margin-top: 1px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  z-index: 1000;
}

.navigation ul li {
  margin: 0 20px; 
  text-align: center; 
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.1em;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  text-align: center; 
}

.navigation ul li a:hover {
  color: #fa4444;
  border-bottom: 2px solid #ff4444;
}

@media (max-width: 850px) {
  .navigation .menu-toggle {
    display: block; /* Show the menu toggle on smaller screens */
    height: 29px;
  }

  .navigation ul {
    display: none; /* Hide menu by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c5c95;
    width: 100%;
    position: absolute;
    left: 0;
  }
}